#header {
    height: 50;
    background: #10284e;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

div.breadcrumbs {
    background: #30caa0;
    color: #212223;
}

div.breadcrumbs a {
    color: #171616;
}

a:link,
a:visited {
    color: #10284e;
}

.module h2,
.module caption,
.inline-group h2 {
    background: #30caa0;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    color: #fff;
}

.button.default,
input[type=submit].default,
.submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #30caa0;
}

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
    background: #30caa0;
}