[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
autopep8 = "*"
rope = "*"

[packages]
psycopg2 = "*"
psycopg2-binary = "*"
pillow = "*"
pylint-django = "*"
pep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
